body{
  background-position: center;
  background-size: cover;
}

.container{
  display: flex;
  justify-content: center;
}

.container-content{
  margin-top: 3%;
  padding: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info{
  width: 500px;
}


.preco-do-boi{
position: relative;
top: -10%;
  width: 400px;
  padding: 20px;
  margin: 20px;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

#dica{
  margin-left: 70px;
}