.container{
  display: flex;
  justify-content: center;
}

.container-content{
  margin-top: 3%;
  padding: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info{
  width: 500px;
}


.preco-do-boi{

  width: 400px;
  padding: 20px;
  margin: 20px;
}