h1 {
    font-size: 3.9rem;
    width: 500px;
    color: mediumpurple;
}

p {
    margin-top: 15px;
    text-align: justify;
    width: 400px;
    font-size: 14pt;
    font-family: monospace;
}

#preco-antigo{
    text-decoration:line-through;
    color: gray;
}

#cupom-area{
    padding-left: 0;
    margin-left: 0;
}

.preco-do-boi{
    height: 300px;
}

