/* Gordo */
li {
    display: inline-block;
    margin: 15px;
}
footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}
footer a {
    text-decoration: none;
    color: mediumpurple;
}
a:hover{
    text-decoration: underline;
}
#color-mode{
    cursor: pointer;
}