.nav-content{
  padding:0px;
  margin:0px;
  width: 100%;
  height: 50px;
  list-style:none;
  background-color: #012615;
  border-radius: 0px 0px 5px 5px;
  align-items: center;
}

.nav-content ul li { 
  display: inline-flex;
  text-decoration: none;
  margin: 10px;
}

.nav-content ul li a:hover {
    color: green;
}

a {
  text-decoration: none;  
  color: aliceblue;  
}

ul {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}