nav{
  color: white;
  text-align: center;
  padding: 10px;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li{
  display: inline-block;
  padding: 5px;
  margin: 5px;
  color: black;
}

nav li:hover{
  text-decoration: underline;
}

nav a{
  text-decoration: none;
  color: mediumpurple;
}

#logo-name{
  color: white;
}